@using poolprobase.Web.Startup
@model poolprobase.Web.Models.Customer.Customer
@{
    ViewBag.CurrentPageName = PageNames.CustomersDetails; //The menu item will be active for this page.
    ViewData["Title"] = "Customers - Details";
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/WorkOrders/details.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/WorkOrders/details.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Customers - Details
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body table-responsive">
                <!-- table to display customer info -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</td>
                            <td>@Html.DisplayFor(model => model.Address) </td>
                            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                            <td>@Html.DisplayFor(model => model.EmailAddress)</td>
                            

                            @* 
                            <td class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" class="waves-effect waves-block edit-role" data-role-id="@item.CustomerID" data-toggle="modal" data-target="#RoleEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                    <li><a href="#" class="waves-effect waves-block delete-role" data-role-id="@item.CustomerID" data-role-name="@item.FirstName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    <li><a class="waves-effect waves-block details-role" asp-action="Details" asp-route-id="@item.CustomerID">Details</a></li>
                                </ul>
                            </td>
                            *@
                        </tr>
                    </tbody>
                </table>
                <!-- table to display work orders associated with this customer-->
                <table class="table">
                    <tr>
                        <th>
                            Work Order ID
                        </th>
                        <th>
                            Assigned Service Tech
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Total Cost
                        </th>
                    </tr>
                    @foreach (var item in Model.CU_WorkOrders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkOrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WO_ServiceTech.FirstName)
                                @Html.DisplayFor(modelItem => item.WO_ServiceTech.LastName)
                            </td>
                            <td>
                                @*
                                    I have not figured out how to implement this property.      
                                *@
                                Completed                                
                            </td>
                            <td>
                                @*
                                    haven't figured this part out yet. Maybe I do need a method that returns the
                                    sum of the lineItems costs? it should really be in a view model or something
                                    like that but I think I'll cheat and add it to the model
                                *@
                                $5.00
                            </td>
                        </tr>
                    }
                </table>
                <!-- link to work order create modal-->
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#WorkOrderCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 
    create a work order model
    -currently making this a partial view, should be easier that way
-->
@*
<div class="modal fade" id="WorkOrderCreateModal" tabindex="-1" role="dialog" aria-labelledby="WorkOrderCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Add A Work Order</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="roleCreateForm" role="form" novalidate class="form-validation">
                    <!-- customer number - should come from the pages model-->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="customerid" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="customerid" class="form-label">Customer Id</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- first name -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="lastNameValue" type="text" name="DisplayName" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="lastNameValue" class="form-label">Last Name</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- last name -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id=""
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- assigned service tech -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="addressValue" type="text" name="Address" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="addressValue" class="form-label">Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- dont need these to create work orders -->
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="phoneNumberValue" type="tel" name="PhoneNumber" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="phoneNumberValue" class="form-label">Phone Number</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="emailAddressValue" type="email" name="EmailAddress" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="emailAddressValue" class="form-label">Email Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="col-sm-12">
                        </div>
                    </div>
                    <!-- create modal submit button-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary waves-effect">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
*@

<!-- makes it pop up a modal-->
<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <!-- class type tells is to load the partial view as a modal -->
        <div class="modal-content">
            <!-- the partial view _awoifjqwero loads here-->
        </div>
    </div>
</div>










@*
<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
    <!-- need to style this header -->
    <h1>Work Orders</h1>
    <table class="table">
        <tr>
            <th>Work Order ID</th>
            <th>Assigned Service Tech</th>
        </tr>
        @{ int NumWorkOrders = 0; }
        @foreach(var item in Model.CU_WorkOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.WorkOrderID)
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.WO_ServiceTech.FirstName)
                    @Html.DisplayFor( modelItem => item.WO_ServiceTech.LastName)
                </td>
                <td>
                    <a asp-controller="WordOrders" asp-action="Details" asp-route-id="@item.WorkOrderID">Details</a> |
                    <a asp-controller="WorkOrders" asp-action="Edit" asp-route-id="@item.WorkOrderID">Edit</a>
                </td>
            </tr>
            NumWorkOrders++;
        }

        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>Num Work Orders: @NumWorkOrders</td>
        </tr>            
    </table>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@