@using poolprobase.Web.Startup
@model poolprobase.Web.Models.Customer.Customer
@{
    ViewBag.CurrentPageName = PageNames.CustomersDetails; //The menu item will be active for this page.
    ViewData["Title"] = "Customers - Details";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Customers - Details
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body table-responsive">
                <!-- table to display customer info -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</td>
                            <td>@Html.DisplayFor(model => model.Address) </td>
                            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                            <td>@Html.DisplayFor(model => model.EmailAddress)</td>                          
                        </tr>
                    </tbody>
                </table>
                <!-- table to display work orders associated with this customer-->
                <table class="table">
                    <tr>
                        <th>
                            Work Order ID
                        </th>
                        <th>
                            Assigned Service Tech
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Total Cost
                        </th>
                    </tr>
                    @foreach (var item in Model.CU_WorkOrders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkOrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WO_ServiceTech.FirstName)
                                @Html.DisplayFor(modelItem => item.WO_ServiceTech.LastName)
                            </td>
                            <td>
                                @*
                                    I have not figured out how to implement this property.      
                                *@
                                Completed                                
                            </td>
                            <td>
                                @*
                                    haven't figured this part out yet. Maybe I do need a method that returns the
                                    sum of the lineItems costs? it should really be in a view model or something
                                    like that but I think I'll cheat and add it to the model
                                *@
                                $5.00
                            </td>
                        </tr>
                    }
                </table>
                <!-- link to work order create modal-->
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#WorkOrderCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- makes it pop up a modal-->
<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <!-- class type tells is to load the partial view as a modal -->
        <div class="modal-content">
            <!-- the partial view _awoifjqwero loads here-->
        </div>
    </div>
</div>

<!-- space for the 'add a work order' modal-->
<div class="modal fade" id="AddWorkOrderModal" tabindex="-1" role="dialog" aria-labelledby="AddWorkOrderModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>










