@model IEnumerable<poolprobase.Web.Models.Customer.LineItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LineItemID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WordOrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LineItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LineItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LineItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LineItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
